<!DOCTYPE html>
<html ng-app='myApp'>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var m = angular.module('myApp',[]);
			m.controller('Aaa',['$scope',function($scope){
				$scope.dataList = [
					'aaa','bbbb','cccc','ddddd','eeeeee'
				];
			}]);
		</script>
	</head>
	<body>
		<div ng-controller="Aaa">
			<ul>
				<!--<li ng-repeat="data in dataList ">{{data}}</li>-->
				<!--<li ng-repeat="data in dataList ">{{$index}}</li>-->
				<!--<li ng-repeat="data in dataList ">{{$first}}</li>-->
				<!-- 
					{{$first}}:第一项为true
					true
					false
					false
					false
					false
				-->
				
				<!--<li ng-repeat="data in dataList ">{{$last}}</li>-->
				<!-- 
					{{$last}}:最后一项为true
					false
					false
					false
					false
					true
				-->
				
				<!--<li ng-repeat="data in dataList ">{{$middle}}</li>-->
				<!-- 
					{{$middle}}:首尾false,其余真
					false
					true
					true
					true
					false
				-->
				<!--<li ng-repeat="data in dataList ">{{$even}}</li>-->
				<li ng-repeat="data in dataList ">{{$odd}}</li>
			</ul>
		</div>
	</body>
</html>
