<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../../org/angular.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!--
			
			变量调节器（过滤器）：对数据进行二次处理
			
		-->
		<div ng-app='hd' ng-controller='ctrl'>
			<table border="1" width="600">
				<tr>
					<td ng-click="orderBy('id')">编号</td>
					<td ng-click="orderBy('click')">点击数</td>
					<td ng-click="orderBy('title')">标题</td>
				</tr>
				<tr ng-repeat="(k,v) in data">
					<td>{{v.id}}</td>
					<td>{{v.click}}</td>
					<td>{{v.title}}</td>
				</tr>
			</table>
		</div>
		
		<script type="text/javascript">
			var m = angular.module('hd',[]);
			m.controller('ctrl',['$scope','$filter',function($scope,$filter){
				$scope.data = [
					{id:1,click:100,title:'后盾人'},
					{id:2,click:200,title:'PHP'},
					{id:3,click:300,title:'后盾云'}
				];
				$scope.orderBy = function(field){
					//alert(field)
					//需要记录上次点击的状态
					//函数的一个引用
					//alert(arguments.callee[field])
					if(arguments.callee[field] == undefined){
						arguments.callee[field] = false;				
					};
					arguments.callee[field] = !arguments.callee[field];
					$scope.data = $filter('orderBy')($scope.data,field,arguments.callee[field]);
					
				}
			}]);
		</script>
	</body>
</html>
