<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../../org/angular.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!--
        	ng-click:
        	bg-dblclick
        	ng-change:onchange触发机制
        	ng-blur:失去焦点触发
        	ng-focus:鼠标移入的时候触发
        	ng-keydwon:键盘按下事件
        	ng-keyup:键盘抬起事件
        	ng-mousedown:鼠标按下事件
        	ng-mouseup:鼠标抬起事件
        	ng-mouseleave:鼠标移开触发事件
        	ng-mousemove:鼠标移动触发事件
        -->
		<div ng-app='hd' ng-controller='ctrl'>
			<!--<div onclick="run()">dd</div>
			<script type="text/javascript">
				function run(){
					alert("3")
				}
			</script>-->
			<!--<div ng-click="show()">ngclick事件</div>-->
			<!--<div ng-dblclick="show()">ngclick事件</div>-->
			<!--<input type="text" ng-change="show()" ng-model="title"/>-->
			<!--<input type="text" ng-blur="show()" ng-model="title"/>-->
			<!--<input type="text" ng-focus="show()" ng-model="title"/>-->
			<!--<input type="text" ng-keydown="show()" ng-model="title"/>-->
			<!--<input type="text" ng-keyup="show()" ng-model="title"/>-->
			<!--<input type="text" ng-mousedown="show()" ng-model="title"/>-->
			<!--<input type="text" ng-mouseup="show()" ng-model="title"/>-->
			<!--<input type="text" ng-mouseleave="show()" ng-model="title"/>-->
			<input type="text" ng-mousemove="show()" ng-model="title"/>
			{{data}}
		</div>
		<script type="text/javascript">
			var m = angular.module('hd',[]);
			m.controller('ctrl',['$scope',function($scope){
				$scope.data = "";
				$scope.show = function(){
					
					$scope.data += "hdphp";
				}
			}]);
		</script>
	</body>
</html>
