<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../../org/angular.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!--
        	ng-selected：true被选中
        	ng-readonly
        -->
		<div ng-app='hd' ng-controller='ctrl'>
			性别：
			<select ng-model="user.sex">
				<option value="">选择性别</option>
				<option ng-value="1" ng-selected="user.sex==1">男</option>
				<option ng-value="2" ng-selected="user.sex==2">女</option>
			</select>
			<input type="radio" ng-model="user.sex" ng-value="1" />男
			<input type="radio" ng-model="user.sex" ng-value="2" />女
			
			协议：<input type="checkbox"  ng-model="copyright"/>协议
			<input type="submit" ng-disabled="!copyright" />
			
			
			
			
		</div>
		<script type="text/javascript">
			var m = angular.module('hd',[]);
			m.controller('ctrl',['$scope',function($scope){
				$scope.user={'sex':2};
			}]);
		</script>
	</body>
</html>
