<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../../org/angular.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!-- 
			复选框需要提前设置：
			ng-true-value:表示选中时它是什么值
			ng-false-value:表示取消选中时它是什么值
		-->
		<div ng-app='hd' ng-controller='ctrl'>
			游戏：<input type="checkbox" ng-model="data.game" ng-true-value="1" ng-false-value="0" />
			电影：<input type="checkbox" ng-model="data.video" ng-true-value="1" ng-false-value="0" />
			
			<div ng-show="data.game==1">
				<h1>游戏：</h1>
				<textarea ></textarea>
			</div>
			<div ng-show="data.video==1">
				<h1>电影：</h1>
				<textarea ></textarea>
			</div>
		</div>
		<script type="text/javascript">
			var m = angular.module('hd',[]);
			m.controller('ctrl',['$scope',function($scope){
				$scope.data = {"game":0,"video":0};
			}]);
		</script>
	</body>
</html>
