<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../../org/angular.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!-- 
				
			使用单选框的时候需要填写ng-value 或者value
			ng-show:为true的时候显示
		-->
		<div ng-app='hd' ng-controller='ctrl'>
			网站开启：<br/>
			<input type="radio" ng-model="status" ng-value="1" />开启<br/>
			<input type="radio" ng-model="status" ng-value="0" />关闭<br/>
			{{status}}
			<!--<h1 ng-bind="status==0"></h1>-->
			<div ng-show="status==0">
				<h2>关闭原因：</h2>
				<textarea>后盾网正在维护中。下午两点开放</textarea>
			</div>
		</div>
		<script type="text/javascript">
			var m = angular.module('hd',[]);
			m.controller('ctrl',['$scope',function($scope){
				$scope.status = 1;
			}])
		</script>
	</body>
</html>
