<!DOCTYPE html>
<html ng-app='myApp'>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../angular.min.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.red{background:red;}
			.yellow{background:yellow;}
		</style>
		<script type="text/javascript">
			var m = angular.module('myApp',[]);
			m.controller('Aaa',['$scope',function($scope){
				//$scope.text = "hello";
				$scope.arr = [
					['a','b'],['c','d']
				];
			}]);
		</script>
	</head>
	<body>
		<!--<div ng-controller="Aaa" ng-init="text='hellos'">
			ng-init:初始化数据的指令
			<hr>
			{{text}}
		</div>-->
		<div ng-controller="Aaa">
			<div ng-repeat="arrOuter in arr" ng-init="outerIndex = $index">
				<div ng-repeat="arrInner in arrOuter" ng-init="innerIndex = $index">
					<p>{{arrInner}} : {{outerIndex}} : {{innerIndex}}</p>
				</div>
			</div>
		</div>
	</body>
</html>
