<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../../org/angular.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div ng-app='hd'>
			<div ng-controller='ctrl1'>
				<!--{{name}}
				<div ng-controller='ctrl2'><input type="text" ng-model="name" />{{name}}</div>
				<div ng-controller='ctrl3'>{{name}}</div>-->
				{{data.name}}
				<div ng-controller='ctrl2'><input type="text" ng-model="data.name" />{{data.name}}</div>
				<div ng-controller='ctrl3'>{{data.name}}</div>
			</div>
			<!--
				当控制器里面没有$scope.xx时并且view层有使用ng-model="xx"的表单，系统会自动默认成$scope.xx='' 算是隐式
				采用js对象的方式来实现控制器之间数据共享，前提是数据以对象的方式保存到父级
				
				总结：在父子控制器中
					如果是标量（非对象形式）：$scope.xx = '':在使用ng-model的时候子级会自动的把父级的数据复制一份，但是如果子级的数据改变并不会影响到父级只会影响它本身
					如果是引用类型（对象类型）:在使用ng-model的时候子级不会进行复制，会一直用父级的
			-->
		</div>
		<script type="text/javascript">
			function run(){
				var a = 1;
				var f = function(){
					//alert(a);//1
				}
				f();
			}
			run();
			var m = angular.module('hd',[]);
			m.controller('ctrl1',['$scope',function($scope){
				//$scope.name="后盾人";
				$scope.data = {name:'后盾人'}
			}]);
			//子控制器
			m.controller('ctrl2',['$scope',function($scope){
				//$scope.name="hdcms";//存在打印hdcms 不存在打印父级的后盾人
			}]);
			m.controller('ctrl3',['$scope',function($scope){
				//$scope.name="hdcms";//存在打印hdcms 不存在打印父级的后盾人
			}]);
		</script>
	</body>
</html>
