<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../../org/angular.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div ng-app='hd'>
			<div ng-controller='ctrl1'>
				{{data.name}}
				<!--<input type="text" ng-model="name" />-->
				<div ng-controller='ctrl2'><input type="text" ng-model="data.name" />{{data.name}}</div>
			</div>
			<!--
				继承隔离：子级作用域会继承父级作用域的值（前提子级作用域没有值）,父级的改变会影响两个子级的改变
				如果想要子级的修改也影响到父级的话需要传值：继承但不隔离 采用对象的形式书写
					
			-->
		</div>
		<script type="text/javascript">
			function run(){
				var a = 1;
				var f = function(){
					//alert(a);//1
				}
				f();
			}
			run();
			var m = angular.module('hd',[]);
			m.controller('ctrl1',['$scope',function($scope){
				//$scope.name="后盾人";
				$scope.data = {name:'后盾人'};
			}]);
			//子控制器
			m.controller('ctrl2',['$scope',function($scope){
				//$scope.name="hdcms";//存在打印hdcms 不存在打印父级的后盾人
			}]);
		</script>
	</body>
</html>
