<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			function Aaa($scope){
				$scope.iphone = {
					money : 5,
					num : 1,
					fre : 10
				};
				$scope.sum = function(){
					return $scope.iphone.money * $scope.iphone.num;
				};
				$scope.$watch($scope.sum,function(newVal,oldVal){
					//console.log(newVal);
					//console.log(oldVal);
					$scope.iphone.fre = newVal >= 100?0:10;
				},true);
			}
		</script>
	</head>
	<body>
		<div ng-controller="Aaa">
			<p>价格：<input type="text" ng-model="iphone.money"/></p>
			<p>个数：<input type="text" ng-model="iphone.num"/></p>
			<p>费用：<span>{{sum() | currency:'￥'}}</span></p>
			<p>运费：<span>{{iphone.fre | currency:'￥'}}</span></p>
			<p>总价：<span>{{sum() + iphone.fre | currency:'￥'}}</span></p>
		</div>
	</body>
</html>
