<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			function Aaa($scope,$timeout){
				$scope.name = "hello";
				/*setTimeout(function(){
					$scope.name = "hi";
				},2000);*/
				//原生js的定时器不具备刷新的功能，要想进行视图刷新并且实现双向数据绑定的话需要用$timeout给注入进来
				/*$timeout(function(){
					$scope.name = "hi";
				},2000);*/
				
				$scope.show = function(){
					$scope.name = "hi";
				}
				
			}
		</script>
	</head>
	<body>
		<!--<div ng-controller = "Aaa" ng-click="name='hi'">-->
		<div ng-controller = "Aaa" ng-click="show()">
			<p>{{name}}</p>
		</div>
	</body>
</html>
