<!DOCTYPE html>
<html ng-app='myApp'>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var m = angular.module('myApp',[]);
			m.controller('Aaa',['$scope',function($scope){
				$scope.count = 0;
				$scope.$on('myEvent',function(){
					$scope.count++;
				});
				
			}]);
		</script>
	</head>
	<body>
		<div ng-controller="Aaa">
			{{count}}
			<!--<div ng-controller="Aaa" ng-click="count = count+1">-->
				<div ng-controller="Aaa" ng-click="$emit('myEvent')">
				{{count}}
				<div ng-controller="Aaa">
					{{count}}
				</div>
			</div>
		</div>
	</body>
</html>
