<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../org/angular.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!-- 
			ng-show:控制显示元素 通过css把它隐藏
			ng-hide:隐藏元素
			ng-if：控制显示 把这个dom节点真正移除
		-->
		<div ng-app='hd' ng-controller='ctrl'>
			<label>
				{{status}}
				<input type="checkbox" ng-model="status" />接受协议
			</label>
			<button ng-init="copyright=false" ng-click="copyright=!copyright">查看协议</button><br>
				<textarea ng-if="copyright">协议内容：本视频由后盾网录制。欢迎观看</textarea>
			<button ng-disabled="!status">登陆</button>
			
		</div>
		<script type="text/javascript">
			var m = angular.module('hd',[]);
			m.controller('ctrl',['$scope',function($scope){
				
			}]);
		</script>
	</body>
</html>
