<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../../../org/angular.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!-- 
			服务是凌驾于控制器、指令、路由之上的
			
			架构上：对数据的处理全部交给服务，而不是在控制器里面处理。控制器只是起一个承上启下的作用，通过服务获取数据分配给视图，数据再服务里面

		-->
		<div ng-app='hd'>
			<div ng-controller='ctrl1'>
				<table border="1" width="400">
					<tr>
						<td>网站名称</td>
						<td>网址</td>
					</tr>
					<tr ng-repeat="v in data">
						<td>{{v.name}}</td>
						<td>{{v.url}}</td>
					</tr>
				</table>
			</div>
			<hr />
			<div ng-controller='ctrl2'>
				<table border="1" width="400">
					<tr>
						<td>网站名称</td>
						<td>网址</td>
					</tr>
					<tr ng-repeat="v in data">
						<td>{{v.name}}</td>
						<td>{{v.url}}</td>
					</tr>
				</table>
				<h1>{{web.name}}</h1>
			</div>
		</div>
		<script type="text/javascript">
			var m = angular.module('hd',[]);
			//定义服务 videoSever->服务名称
			m.factory('videoSever',['$http',function($http){
				var obj = {
					//获取所有数据
					all:function(){
						return $http({'url':'../../template/diySeverFactory1.php'}).then(function(response){
							return response.data;
						});
					},
					//获取一条数据
					find:function(id){
						return this.all().then(function(data){
							for(var i=0;i<data.length;i++){
								if(data[i].id == id){
									return data[i];
								}
							}
						});
					}
					//删除所有数据
					//flush
				};
				return obj;
			}]);
			m.controller('ctrl1',['$scope','videoSever',function($scope,videoSever){
				videoSever.all().then(function(data){
					$scope.data = data;
				});
			}]);
			m.controller('ctrl2',['$scope','videoSever',function($scope,videoSever){
				videoSever.all().then(function(data){
					$scope.data = data;
				});
				videoSever.find(2).then(function(data){
					$scope.web = data;
				});
			}]);
		</script>
	</body>
</html>
