<!DOCTYPE html>
<html ng-app='myApp'>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../angular.min.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.active{background:red;}
			.active1{background:blue;}
		</style>
		<script type="text/javascript">
			var m = angular.module('myApp',[]);
			m.controller('Aaa',['$scope',function($scope){
				$scope.dataList = [
					'aaa','bbbb','cccc','ddddd','eeeeee'
				];
			}]);
		</script>
	</head>
	<body>
		<div ng-controller="Aaa">
			<input type="checkbox" ng-model='aaa' />
			<select name="">
				<option value="">1111</option>
				<option ng-selected='aaa'>2222</option>
			</select>
			
			<input type="text" ng-change="bbb='hello'" ng-model='bbb' />{{bbb}}<br>
			<input type="text" value="sdfsdsdsdf" ng-copy='ccc=true' />{{ccc}}<br>
			
	</body>
</html>
