<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../org/angular.min.js" ></script>
	</head>
	<body ng-app='hd'>
		<div ng-controller='ctrl'>
			<p>商品名称：{{goods.data.title}}</p>
			<p>商品价格：{{goods.data.price}}</p>
			<p>购买数量：{{goods.data.num}}件</p>
			<p>总计：{{goods.data.price*goods.data.num}}元</p>
			<input type="button" ng-click="goods.add()" value="增加" />
			<input type="button" ng-click="goods.reduce()" value="减少" />
		</div>
		
		<script>
			var m = angular.module('hd',[]);
			m.controller('ctrl',['$scope',function($scope){
				//$scope js的一个对象。可以定义属性，也可以定义方法
				//ng-click 触发点击事件
				//$scope.goods = {'title':'appMac','price':300,'num':0};
				$scope.goods = {
					data : {'title':'appMac','price':300,'num':0},
					add :　function(){
						$scope.goods.data.num = Math.min(++$scope.goods.data.num,6);
					},
					reduce :　function(){
						$scope.goods.data.num = Math.max(--$scope.goods.data.num,0);
					}
				}
				/*$scope.add = function(){
					$scope.goods.num = Math.min(++$scope.goods.num,6);
				}
				$scope.reduce = function(){
					$scope.goods.num = Math.max(--$scope.goods.num,0);
				}*/
			}]);
		</script>
	</body>
</html>
