<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../org/angular.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!--
			
			用ng-model-options来减少无谓的后台性能开销
			ng-model-options="{updateOn:'blur'}"当光标移开触发
			ng-model-options="{debounce:3000}"光标移开触发一个延时3秒钟后执行
			如果要混着写一定要添加default
		-->
		<div ng-app='hd' ng-controller='ctrl'>
			<!--<input type="text" ng-model="title" ng-model-options="{updateOn:'blur'}" />-->
			<!--<input type="text" ng-model="title" ng-model-options="{debounce:3000}" />-->
			<input type="text" ng-model="title" ng-model-options="{updateOn:'default blur',debounce:{default:3000,blur:0}}" />
			{{title}}
		</div>
		<script type="text/javascript">
			var m = angular.module('hd',[]);
			m.controller('ctrl',['$scope',function($scope){
				
			}]);
		</script>
	</body>
</html>
