<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../org/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<style>
			input[readonly]{background:#f6f6f6;border:1px solid #333;}
		</style>
	</head>
	<body>
		<!--
        	readonly:不能修改但是可以提交数据到后台
        	disabled:不能修改也不能提交到后台
        -->
		<div ng-app='hd' ng-controller='ctrl'>
			<!--<form action="readonly.php" method="post">
				<input type="text" name="a" readonly="readonly" value="readonly" /><br>
				<input type="text" name="b" disabled="disabled" value="disabled" /><br>
				<input type="submit"/>
			</form>-->
			年龄：<input type="text" ng-model="user.age"/><br>
			邮箱：<input type="text"  ng-model="user.mail" ng-readonly="user.uid"/>
		</div>
		<script type="text/javascript">
			var m = angular.module('hd',[]);
			m.controller('ctrl',['$scope',function($scope){
				$scope.user={age:33,uid:1,mail:"275890380@qq.com"};
			}]);
		</script>
	</body>
</html>
